
.logo {
  padding: 10px;
  margin-left: 10%;
  padding: 2%;
}

.main-container {
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
}

.mat-toolbar.mat-primary {
  background: #768bd8;
  color: #fff;
  padding-top: 10px;
}

.heading {
  background-color:#c2c2c2;
  text-align: center;
  padding: 1%;
}

.blue{
  color: #0a0c2d;
  font-size: 30px;
}



